.about {
    display: grid;
    gap: 5em;

    &>* {
        display: grid;
    }

    &>*:not(:first-child) {
        gap: 4em;
    }

    .education-list,
    .work-experience-list {
        display: flex;
        gap: 2em;

        @include for-mobile-layout {
            flex-direction: column;
        }
    }
}