.introduction {
    position: relative;
    height: 800px;

    display: grid;
    justify-content: center;
    align-items: center;

    background-image: url('./img/intro/gal-intro-main-cover.jpg');
}

.introduction::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;

    width: 100%;
    height: 100%;
    background-color: black;
    opacity: 0.3;
    z-index: 1;
}