.small-card {
    position: relative;

    display: grid;
    justify-content: center;
    align-items: center;
    text-align: center;

    width: 20em;
    height: 10em;
    border-radius: 1em;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2);

    .card-image {
        position: absolute;
        top: -40px;
        left: 50%;
        transform: translateX(-50%);


        width: 80px;
        height: 80px;
        border-radius: 50%;
        box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    }
}