body {
    margin: 0;
    font-family: 'mukta-regular';
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
}

h2 {
    .card & {
        font-size: 2rem;
    }
}

img {
    display: block;
    object-fit: cover;
    width: 100%;

    .introduction & {
        height: 100%;
    }

    .links & {
        width: 30px;
        height: 30px;
        cursor: pointer;
    }
}

.btn {
    padding: 0.5em 1em;
    border: none;
    border-radius: 0.3em;
    margin-inline-start: 0;
    margin-inline-end: 0;
    font-family: inherit;
    cursor: pointer;

    &-light {
        @include btn($type: 'light');
    }

}

button {
    &.download-btn {
        border-radius: 5em;
        box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2);
    }
}