@font-face {
    font-family: 'figtree-regular';
    src: url('/font/Figtree/Figtree-Regular.ttf')
}

@font-face {
    font-family: 'mukta-regular';
    src: url('/font/Mukta/Mukta-Regular.ttf')
}

@font-face {
    font-family: 'reenie-beanie-regular';
    src: url('/font/Reenie_Beanie/ReenieBeanie-Regular.ttf')
}