@font-face {
    font-family: 'figtree-regular';
    src: url('/public/font/Figtree/Figtree-Regular.ttf')
}

@font-face {
    font-family: 'mukta-regular';
    src: url('/public/font/Mukta/Mukta-Regular.ttf')
}