$clr-bg-light-1: #fff;
$clr-bg-light-2: whitesmoke;

/*fonts clr*/
$clr-font-1: #fff;
$clr-font-gray1: #ddd;
$clr-font-gray2: #aaa;
$clr-font-gray3: #777;
$clr-font-gray4: #333;
$clr-font-gray5: #444;
$clr-font-gray6: #666;
$clr-font-gray7: #111;

// Breakpoints
$mobile-breakpoint: 460px;
$narrow-breakpoint: 720px;
$normal-breakpoint: 960px;
$large-breakpoint: 1200px;